<h2>Student Tasks</h2>
<table border="5">
  <thead>
    <tr>
      <th>Task Title</th>
      <th>Object</th>
      <th>Due Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <!-- Itera sobre las tareas -->
    <tr *ngFor="let task of tasks">
      <td>{{ task.title }}</td>
      <td>{{ task.objective }}</td>
      <td>{{ task.dueDate | date: 'MM/dd/yyyy' }}</td>
      <td>{{ task.status }}</td>
    </tr>
    <!-- Mostrar un mensaje si no hay tareas -->
    <tr *ngIf="tasks.length === 0">
      <td colspan="4">No hay tareas disponibles.</td>
    </tr>
  </tbody>
</table>