<div class="container">
    <div class="banner">
        <h1>Students Management</h1>
    </div>
    <div class="main-content">
        <div class="sidebar">
          <ul>
            <li><button (click)="navigateTo('students')">Student Info</button></li>
            <li><button (click)="navigateTo('grades')">Grades</button></li>
            <li><button (click)="navigateTo('homeworks')">Homework</button></li>
          </ul>
          
    </div>
    <div class = "routes"><router-outlet></router-outlet></div>
</div>
